
:root {
    --primary-color: rgb(2,132,208);
    --secondary-color: rgba(183, 21, 159, 0.9);
    --bg-navbar: rgba(51, 51, 51,0.6);
    --bg-color: #333;
    --bg-color-light: #fff;
    --text-color-dark: #333;
    --text-color-light: #fff;
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --bg-hamburger:  rgba(51, 51, 51,0.6);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-color-light);
    /* color: var(--text-color-light); */
    line-height: 1.6;

    font-size: 62.5%;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-navbar);
    /* color: #fff; */
    /* opacity: 0.7; */
    width: 100%;
    height: 70px;
    position: block;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
    padding-left: 8rem;
}

.navbar.top {
    /* background: transparent; */
}

.navbar a {
    color: var(--text-color-light);
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1.6rem;
    
    
}

.navbar a:hover {
    border-bottom: var(--primary-color) 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 500;
    font-size: 2rem;
}



/* Header */
.hero {
    background: url('https://files.123freevectors.com/wp-content/original/169733-shiny-abstract-pink-and-blue-background-vector-image.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: var(--text-color-light);
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 1rem 20px;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 1rem;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.hero .content .btn {
    font-size: 1.2rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero * {
    z-index: 2;
}

.hero.blog {
    background: url('../images/home/blog.jpg') no-repeat center center/cover;
    height: 30vh;
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: space-evenly;
    justify-content: space-evenly;
    text-align: center;
    height: 20vh;
    padding: 1.5rem;
    color: #fff;

}

.footer a {
    color: #fff;
    font-size: 1.4rem;

}

.footer hr{
    width: 50%;
    
}

.footer p {
    font-size: 1.4rem;
}

.footer a:hover {
    color: var(--primary-color);
}

.footer .social > * {
    margin-right: 10px;
    margin-left: 10px;

}


/* Projects */


#project {
    font-size: 1.4rem;
}

.column-1__img {
    width: 50%;
    margin: 10% auto;
   
    
}

.column-1__img:hover {

}
 

.card {
    width: 25vw;
    height: 25vw;
    margin: auto;
    border: 1px solid black;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 3px black;

}
.card:hover{
    transform: scale(1.2) rotate(5deg);


}



.row,.project__row {
    height: 100vh !important;

}