:root {
    --primary-color: rgb(2, 132, 208);
    --secondary-color: rgba(183, 21, 159, 0.9);
    --bg-navbar: rgba(51, 51, 51, 0.6);
    --bg-color: #333;
    --bg-color-light: #fff;
    --text-color-dark: #333;
    --text-color-light: #fff;
    --overlay-color: rgba(24, 39, 51, 0.85);
    --bg-hamburger: rgba(51, 51, 51, 0.6);

    --animate-speed: 1.2s;

}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-color-light);
    /* color: var(--text-color-light); */
    line-height: 1.6;
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar.top {
    /* background: transparent; */
}

.navbar .logo {
    font-weight: 500;
    font-size: 2rem;
}

.navbar a {
    color: var(--text-color-light);
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-navbar);
    padding: 3vh 30px;
    transition: 0.5s;
    padding-left: 8rem;
}

.navbar nav>ul>li>a:hover {
    border-bottom: var(--primary-color) 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar nav>ul>li {
    position: relative;
    display: inline-block;
}

/* Hide nested ul by default */

#nav1 ul li ul {
    display: none;
    /* position: absolute; */
}

#nav1 ul li:hover ul {
    cursor: pointer;
    /* background: var(--primary-color); */
    color: #fff;
}

#nav1 ul li:hover a {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Nested dropdown show */

#nav1 ul li:hover ul {
    display: block;
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 200px;
    margin-top: 1rem;
    box-shadow: 1px 1px black;
}

#nav1 ul li:hover ul li {
    /* display: block; */
    background: var(--bg-navbar);
}

#nav1 ul li:hover ul li a {
    color: white;
}

#nav1 ul li:hover ul li:hover {
    background: #e0e0e0;
    color: #333333;
}

/* Header */

.hero {
    background: url('https://files.123freevectors.com/wp-content/original/169733-shiny-abstract-pink-and-blue-background-vector-image.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: var(--text-color-light);
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 1rem 20px;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 1rem;

    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

@keyframes heading {
    to {
        transform: translateY(0);
    }
}

@keyframes text {
    to {
        transform: translateX(0);
    }
}



.hero .content .btn {
    font-size: 1.8rem;
    transform: translateX(1800px);

    animation: text var(--animate-speed) forwards ease-in;
    animation-delay: 0.7s;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero * {
    z-index: 2;
}

.hero.blog {
    background: url('../images/home/blog.jpg') no-repeat center center/cover;
    height: 30vh;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: space-evenly;
    justify-content: space-evenly;
    text-align: center;
    height: 20vh;
    padding: 1.5rem;
    color: #fff;
}

.footer a {
    color: #fff;
    font-size: 1.4rem;
}

.footer hr {
    width: 50%;
    opacity: 0.4;
    display: inline-block;
}

.footer p {
    font-size: 1.4rem;
}

.footer a:hover i{
    color: var(--secondary-color);
    transform: scale(1.2);
    
}

.footer .social>* {
    margin-right: 10px;
    margin-left: 10px;
}

/* Projects */

#project {
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
}

.column-1__img {
    width: 50vw;
    margin: 10% auto;
}

.column-1__img:hover {}

.card {
    width: 25vw;
    height: 25vw;
    margin: auto;
    border: 1px solid black;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 3px black;

    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

}

/* .away-animation {
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

} */


.flex-reverse  .card {
    transform: translateX(100px);

}


.card.show {
    transform: translateX(0) ;
    visibility: visible ;
    opacity: 1 ;
}





.card:hover {
    transform: scale(1.2) rotate(5deg);
}

.flex-reverse .card:hover {
    transform: scale(1.2) rotate(-5deg);
}

.row, .project__row {
    height: 100vh !important;
}





@media(max-width: 768px) {

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .column, .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    /* Navbar */
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--bg-navbar);
        padding: 4vh 0;
        transition: 0.5s;
        
    }
    #nav1 > ul >li {
        display: block;
        text-align: center;
        border-top: 0.4px dashed gray;
        /* background-color: red; */
        padding: 10px 15px;
        width: 90vw;
    }

    #nav1 ul   {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #nav1 ul li:hover ul {
        width: 100%;
        position: relative;
    }
    #showcase {
        max-height: 50vh;
    }

    /* header */


    .hero {
        background: url('https://files.123freevectors.com/wp-content/original/169733-shiny-abstract-pink-and-blue-background-vector-image.jpg') no-repeat center center/cover;
        height: 100vh;
        position: relative;
        color: var(--text-color-light);
    }
    
    .hero .content {
        height: 75%;
        /* background-color: red; */
        padding: 1rem 20px;
    }
    
    .hero .content h1 {
        font-size: 3.5rem;
        padding: 1rem;
    }
    
    .hero .content p {
        font-size: 2.3rem;
        max-width: 600px;
        margin: 20px 0 30px;
    }
    
    .hero .content .btn {
        font-size: 1.7rem;
    }
    
    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    
  
    

    


}


@media(max-width: 600px) {

    .hero .content {
        height: 60%;
        /* background-color: red; */
        padding: 1rem 20px;
    }
    .hero .content h1 {
        font-size: 2.5rem;
        padding: 1rem;
    }
    
    .hero .content p {
        font-size: 2.3rem;
        max-width: 600px;
        margin: 20px 0 30px;
    }
    
    .hero .content .btn {
        font-size: 1.5rem;
    }
}